@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  background-color: black;
  color: white; /* Optional: to make text readable on a black background */
}

/* Ensure that all components take the full height of the viewport */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Make sure your root element uses the full height */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Ensure your app component also uses the full height */
.app-container {
  flex: 1;
}
